html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

/* simple reset css (digital ocean) (https://www.digitalocean.com/community/tutorials/css-minimal-css-reset) */

body {
    font-family: 'League Spartan', sans-serif;         /* строка скопирована из гугл шрифтов */
}
.header-container {
    display: flex;
    width: 1440px;
    padding-top: 104px;
    padding-left: 133px;
    padding-right: 133px;
    padding-bottom: 168;
    background-color: #F8F8F8;
}

.header-title {

  margin-bottom: 53;
  font-size: 24px;
  line-height: 45px;
  font-weight: 300;

}

.header-subtitle {

  font-weight: 300px;
  font-size: 250px;
  line-height: 230px;
  margin-bottom: 43px;

}

.header-description {

  font-size: 32px;
  line-height: 50px;
  margin-bottom: 61px;
  margin-right: 150px;

}

.buy-wrapper {
  display: flex;
}

.buy-link {

  display: block;
  width: 278px;
  height: 82px;
  background-color: #161515;
  color: #FFFFFF;
  text-decoration: none;
  font-size: 32px;
  line-height: 82px;
  text-align: center;

}

.price {

  width: 143px;
  height: 82px;
  background-color: #D6D6D640;
  color: #272727;
  text-decoration: none;
  font-size: 32px;
  line-height: 82px;
  text-align: center;

}

.header-img {

  display: block;
  width: 422px;
  margin-top: -145px;
  margin-left: -50px;

}

.popular-title {
  text-align: center;
  font-size: 24px;                  /* размер */
  line-height: 45px;                /* ширина */
  margin-top: 43px;                 /* верхний отступ */
  font-weight: 300px;
}

.models {
  text-align: center;
  font-size: 72px;
  line-height: 81px;
  font-weight: 400px;
  margin-bottom: 84px;
}

.item-wrapper {
  margin: 0 auto;
  width: 417px;
  margin-bottom: 85px;
}

.item-img-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 417px;                      /* высота */
  height: 630px;                    /* ширина */
  background-color: #f8f8f8;
  margin-bottom: 67px;
}

.item-title {
  font-size: 32px;
  line-height: 30px;
  margin-bottom: 17px;
  text-align: center;
  font-weight: 400;
}

.item-description {
  font-size: 32px;
  line-height: 30px;
  font-weight: 300;
  text-align: center;
}

.product-description-wrapper {
  margin: 0 auto;
  width: 417px;
  margin-bottom: 85px;
  margin-top: 100px;
}

.product-description-title {
  text-align: center;
  font-size: 32px;
  line-height: 60px;
  margin-bottom: 58px;
  font-weight: 400;
}

.product-description {
  text-align: center;
  font-size: 24px;
  line-height: 40px;
  font-weight: 300;
}

.product-description-link {
  color: rgba(239, 11, 178, 0.251);
}






/* fix */

header {
  background: #f8f8f8;
  padding-top: 0; 
  padding-bottom: clamp(40px, 8vw, 100px);
}

header > div {
  width: min(100% - 2rem, 1200px);
  margin-inline: auto;
}

header > div {
  display: grid;
  grid-template-columns: 1fr min(45vw, 520px);
  align-items: center;
  gap: clamp(20px, 4vw, 40px);
}

header h1 {
  font-size: clamp(36px, 6vw, 96px);
  line-height: 1.05;
  margin-bottom: 24px;
}
header p {
  font-size: clamp(16px, 2vw, 18px);
  line-height: 1.6;
  max-width: 58ch;
}

header img {
  max-width: min(45vw, 520px);
  height: auto;
  justify-self: end;
  display: block;
}

header .buy, header .cta, header .actions {
  display: inline-flex;
  align-items: center;
  gap: 12px;
  flex-wrap: wrap;
  margin-top: 24px;
}
header .buy .btn, header .cta .btn, header .actions .btn,
header .buy a, header .cta a, header .actions a {
  padding: 14px 24px;
  background: #111;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  line-height: 1;
}
header .buy .price, header .cta .price, header .actions .price,
header .buy span, header .cta span, header .actions span {
  padding: 14px 20px;
  background: #eee;
  white-space: nowrap;
}

@media (max-width: 900px) {
  header > div {
    grid-template-columns: 1fr;
  }
  header img {
    justify-self: center;
    max-width: 320px;
    margin-top: 24px;
  }
}

section {
  width: min(100% - 2rem, 1200px);
  margin-inline: auto;
  text-align: center;
}
section h3 {
  font-size: 1rem;
  margin-top: clamp(40px, 8vw, 80px);
  margin-bottom: 8px;
}
section h2 {
  font-size: clamp(32px, 6vw, 64px);
  margin-bottom: 32px;
}

.models, .cards, .popular, .catalog {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 32px;
  justify-items: center;
}

header > div {
  padding-inline: clamp(1rem, 6vw, 6rem);
}

header h1,
header p,
header .buy,
header .cta,
header .actions {
  justify-self: start;
}

header img {
  justify-self: end;
  margin-right: clamp(1rem, 4vw, 3rem);
}

html, body {
  overflow-x: hidden;
  width: 100%;
}


@media (min-width: 901px) {
  header > div {
    grid-template-columns: 1fr min(52vw, 580px) !important; 
    align-items: start !important;                          
    padding-left: clamp(5rem, 11vw, 12rem) !important;     
    padding-right: clamp(1rem, 4vw, 3rem) !important;
  }

  header > div > img {
    width: min(52vw, 580px) !important; 
    max-width: none !important;
    height: auto !important;
    justify-self: end !important;
    align-self: start !important;     
    margin: 0 !important;
    transform: none !important;       
  }
}